<p id="notice"><%= notice %></p>

<h1>Listing Api V1 Comments</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Site</th>
      <th>Type</th>
      <th>Memo</th>
      <th>Alternatives</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @api_v1_comments.each do |api_v1_comment| %>
      <tr>
        <td><%= api_v1_comment.user %></td>
        <td><%= api_v1_comment.site %></td>
        <td><%= api_v1_comment.type %></td>
        <td><%= api_v1_comment.memo %></td>
        <td><%= api_v1_comment.alternatives %></td>
        <td><%= link_to 'Show', api_v1_comment %></td>
        <td><%= link_to 'Edit', edit_api_v1_comment_path(api_v1_comment) %></td>
        <td><%= link_to 'Destroy', api_v1_comment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Comment', new_api_v1_comment_path %>
